.vehicle_info{
  font-size: xx-large;
}
body{
  margin: 50px;
}
.one_car{
  display: flex;
  justify-content: space-between;
  align-content:center;
}

button{
  font-size: xx-large;
  padding: 20px;
  margin-bottom: 20px;
}
