.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

button{
  font-size: 30px;
  padding: 20px;
  margin: 50px;
}

.flex{
  font-size: xx-large;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

