body{
  margin: 50px;
  padding: 50px;
  font-size: xx-large;
}

div{
  font-size: xx-large;
}

.flex{
  width: 400px;
  display: flex;
  justify-content: space-between;
}


button{
  font-size: xx-large;
  padding: 20px;
  margin-bottom: 20px;
}

input{
  font-size: medium;
}

