<body>
<button routerLink="/all">Go back</button>
<br>
<b>VEHICLE INFO</b>

<div>
  <br>
  <div class="flex">
    Name: <input [value]="temp.name" type="text" DISABLED>
  </div>
  <br>
  <div class="flex">
    Brand: <input [value]="temp.brand"  type="text" DISABLED>
  </div>
  <br>
  <div class="flex">
    Model: <input [value]="temp.model"  type="text" DISABLED>
  </div>
  <br>
  <div class="flex">
    Horsepower: <input [value]="temp.horsepower" type="number" DISABLED>
  </div>
  <br>
</div>

<button class="button" (click)="borrowVehicle()">Borrow Vehicle</button>
</body>
